ul {
    display: flex;
    // 防止与轮播图同时滚动
    overflow-x: auto;
    // 在手机上可以触摸滚动
    -webkit-overflow-scrolling: touch;
    li {
        // display: inline-block;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 5px;
        white-space: nowrap;
        .indicator {
            height: 2px;
            width: 2rem;
            // 相对于根节点
            margin-top: 2px;
        }
    }
}
::-webkit-scrollbar {
    display: none;
}
.active {
    color: red;
    font-weight: 700;
}
.first, .last {
    font-weight: 700;
}
.odd {
    font-size: 14px;
}
.even {
   font-size: 15 px;
}
