ul {
    display: flex;
    li {
        // display: inline-block;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 5px;
        white-space: nowrap;
        .indicator {
            height: 2px;
            width: 2rem;
            background-color: brown;
            margin-top: 2px;
        }
    }
}
::-webkit-scrollbar {
    display: none;
}
.active {
    color: red;
    font-weight: 700;
}
.first, .last {
    font-weight: 700;
}
.odd {
    font-size: 14px;
}
.even {
   font-size: 16px;
}
